@media (max-width: 700px) {
  .main {
    h2 {
      font-size: 30px;
      margin: 40px 0;
    }

    &-description {
      box-sizing: content-box;
      width: 100%;
      margin: 40px 0 0;

      &-container {
        width: 100%;
        padding: 0;
        &-text {
          padding: 0 30px;
        }
        &-image {
          width: 100%;
          margin-bottom: 0;
        }
      }
    }
    &-massages {
      margin: 0 auto 40px;
      padding-top: 40px;
      &-list {
        box-sizing: border-box;
        width: 100%;
        padding: 0 35px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
      }
      h2 {
        margin-top: 0;
      }
    }
    &-contact {
      box-sizing: border-box;
      margin: 0 0 50px 0;
      padding-top: 50px;
      width: 100%;
      &-container {
        display: block;
        width: 100%;
        margin: 0;
      }
      &-image {
        height: 200px;
        width: 100%;
      }
      &-details {
        margin: 0 px;
      }
    }
  }

  .priceModal {
    padding: 20px;
    height: 100%;
    width: 100%;
    overflow: scroll;
    border-radius: 0;
    table {
      margin: 0 auto;
      overflow: scroll;
    }
    tbody {
      th,
      td {
        padding: 20px 10px;
      }
    }

    &-toggle {
      position: absolute;
      height: 30px;
      width: 30px;
      top: 30px;
      right: 30px;
    }

    &-information {
      margin: 30px auto 0;
    }
  }

  .priceModal-container {
    z-index: 1000;
  }

  .header {
    &-top {
      margin: 30px 10px;
      &-nav {
        display: none;
      }
      &-mobileMenu {
        display: block;
      }
      &-title {
        margin: 40px 10px;
      }
    }
  }
}
